html, body, #root{
    height: 100%;
    width: 100%;
}

#root{
    background-color: black;
}

.heading {
    font-size: 80px;
    color: #fff;
    text-align: center;
    /* background-color: transparent; */
    /* text-shadow: 0 0 20px #fff, 0 0 30px #ff4d4d, 0 0 40px #ff4d4d, 0 0 50px #ff4d4d, 0 0 60px #ff4d4d, 0 0 70px #ff4d4d, 0 0 80px #ff4d4d; */
}